.thong-bao {
  color: red;
  font-size: 1rem;
  width: 50%;
  font-weight: 700;
  background-color: aqua;
  margin-top: 1rem;
  margin-left: 25%;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.bai__1 {
  text-align: center;
}
.bai__2 {
  text-align: center;
}
.chu__vi {
  background-color: green;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
  margin-left: 25%;
}
.bai__4 {
  text-align: center;
}
.dien__tich {
  background-color: gold;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
  margin-left: 25%;
}
.bai__5 {
  text-align: center;
}
.ky__so {
  background-color: goldenrod;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
  margin-left: 25%;
}

.bai__3 {
  text-align: center;
}
.so__tien {
  background-color: purple;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
  margin-left: 25%;
}
